html,body {
	width: 100%;
	height: 100%;
}

body{
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #292929;
	background: url(../Images/texture-gif/yellow.gif);
	margin: 0; padding: 50px 0 0 0;
}

.container{
	width: 1300px;
	margin: 0 auto;
}

.wrapper{
	float: center;
	width: 896px;
	margin: 0 auto;
	text-align: center;
}

.introduction {
	margin-top: 0;
	padding-top: 0;
	border-top: 0;
}
p.introduction {
	font-family: Georgia,serif;
	color: #2f2d2d;
	font-size: 23px;
	font-style: italic;
	border-bottom: 1px solid #bebebe;
}

.introduction span {
	color: #6e0303;
	font-size: 21px;
	font-style: normal;
	letter-spacing: 1px;
	font-variant: small-caps;
}

.nav{
	float: left;
	position: absolute;
	font-family: Verdana,  Helvetica, sans-serif;
	font-size: 16px;
	display: inline-block;
	background-color: #FFFFFF;
	border-left: 8px solid #c1c1c1;
	border-right: 8px solid #c1c1c1;
	border-bottom: 8px solid #c1c1c1;
	border-top: 8px solid #c1c1c1;
}

.nav ul{
	margin: 0;
	padding: 5px 0 5px 5px;
	border:0;
}

.nav li{
	list-style: none;
	background-color:#7534AA;
	margin: 5px 0 5px 5px;
	padding: 5px 0 5px 5px;
	border: 0;
}

.nav li a{
	text-decoration: none;
	color: #FFFFFF;
}

.nav li:hover{
	background-color:#A771D3;
}

.header{
	width: 692px;
	padding: 0 84px 0 84px;
	background: #ffffff;
	border-left: 18px solid #c1c1c1;
	border-right: 18px solid #c1c1c1;
	border-top: 18px solid #c1c1c1;
	margin: 0;
	overflow: hidden;
}

.header h1 {
	font-family: Georgia,serif;
	color: #2f2d2d;
	font-size: 42px;
	line-height: 30px;
	padding: 36px 0 34px 0;
	border-bottom: 1px solid #bebebe;
}

.section{
	border-bottom: 1px solid #bebebe;
	width: 100%;
	padding: 0 0 15px 0;
}

.section h1{
	font-family: Georgia,serif;
	color: #2f2d2d;
	font-size: 24px;
}

#job_name input{
	width: 500px;
	border:1px solid gray;
	text-align: center;
}



.hidden{
	display: none;
}
	
.content{
	width: 692px;
	padding: 0 84px;
	/*background: #0099FF;*/
	background: #ffffff;
	border-left: 18px solid #c1c1c1;
	border-right: 18px solid #c1c1c1;
	border-bottom: 18px solid #c1c1c1;
	overflow: hidden;
}

.submit{
	padding: 10px 0 10px 0;
}
