html,body {
	width: 100%;
	height: 100%;
}

body{
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #292929;
	background: url(../Images/texture-gif/yellow.gif);
	margin: 0; padding: 50px 0 0 0;
}

h1 {
	
}

.wrapper{
	width: 896px;
	margin: 0 auto;
	text-align: center;
}

.header{
	width: 692px;
	padding: 0 84px;
	background: #ffffff;
	border-left: 18px solid #c1c1c1;
	border-right: 18px solid #c1c1c1;
	border-top: 18px solid #c1c1c1;
	overflow: hidden;
}

.header h1 {
		font-family: Georgia,serif;
		color: #2f2d2d;
		font-size: 42px;
		line-height: 30px;
		padding: 36px 0 34px 0;
		border-bottom: 1px solid #bebebe;
	}
	
.content{
	width: 692px;
	padding: 0 84px;
	/*background: #0099FF;*/
	background: #ffffff;
	border-left: 18px solid #c1c1c1;
	border-right: 18px solid #c1c1c1;
	border-bottom: 18px solid #c1c1c1;
	overflow: hidden;
}

.table_wrapper{
	width: 100%;
	margin: 10px 5px 20px 5px;
}

table{
	width:100%;
	table-layout: fixed;
	border-collapse: separate;
	margin: 10px 0px;
}
tr{
	height: 100%
}
td{
	font-weight: bold;
}
input, select{
	
}
label{
	font-weight: normal;
}
.third{
	width: 30%;
}
.half{
	width: 60%;
}
.left-align{
	text-align: left;
}
.large_table{
	/*height: 200px;*/
	font-weight: bold;
	
}
.large_table td{
	vertical-align:top;
}
.large_table ul{
	font-weight: normal;
	list-style-type: none;
	
}
.large_table li{
	text-align: left;
	margin: 0 0 5% 10%;
}

.inline_table{
	table-layout: auto;
	border-collapse: collapse;
	height:60px;
}
.large_text{
	width: 80%;
	height: 50px;
}